@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+3:wght@300;700&display=swap');
/* Main colors and style */
body {
    background-color:#2D2424;
    font-size: 1.2rem;
    font-family: 'Roboto';
    line-height: 1.5;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
}
nav {
    position: relative;
    background-color: #5C3D2E;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
nav i{
    position: absolute;
    top: .7rem;
    left: 5rem;
    font-size: 3rem;
    color: #ff7700af;
    background-color: #5C3D2E;
    cursor: pointer;
}
nav i:hover{
    color: #ff7700;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    transform: scale(1.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 1rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff7700;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}
main {
    padding: 1rem;
}
#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #5C3D2E;
    border-radius: .3rem;
}

.Ramen-Shop {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.heading-about{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0px 3px 10px;
    padding-bottom: 3rem;
    border-bottom: 2px solid #ffffff ;
}
.Ramen-Shop-Text{
    position: absolute;
    object-fit: cover;
    top:40%;
    font-size: 3rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    background:#ff7700af;
    box-shadow: rgb(247, 247, 247) 0px 0px 60px;
    padding:1rem 2rem;
    text-align: center;
    width: 100%;
    
}
.ramen-shop-img{
    width: 100%;
    height: 600px; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* This will prevent distortion */
}
/* Text styling */
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
h2 {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
/* Menu styling */
#menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 4rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    background-color: #6B240C;
    border-radius: 1rem;
    box-shadow: rgb(192, 164, 142) 0px 0px 12px;
}
.menu-title{
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: underline;
    text-shadow:#ff7700 0px 0px 20px;
    border-top: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
}
.menu-item p{
    text-align: center;
    font-size: 1.1rem;
    font-weight:100;
    border-radius: 1rem;
}
.menu-item img{
    width: 100%;
    height: 300px; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    object-fit: cover; /* This will prevent distortion */
    
}
#order-btn{
    padding: 1rem;
    background-color: #2D2424;
    border-radius: .3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
#order-btn:hover{
    background-color: #1d1613;
    color: white;
    box-shadow: #ff7700 0px 0px 25px;
}
.opening-hours-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #947865;
    border-radius: .3rem;
    padding-bottom: 3rem;
}
.opening-hours-card h1{
    text-decoration: underline;
}
.opening-hours-card h2{
    margin: -.1rem;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #818181;
    gap: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}
.footer-text{
    text-align: center;
    text-shadow: none;
}
.social-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: center;
}
.social-media li {
    display: inline-block;
    margin-right: 1rem;
}
.social-icons li:hover{
    color: #ff7700;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}
/* --------------------------------------------------- */
/* Contact us Styling */
.contact-us{
    text-align: center;
    font-size: 1.3rem;
    text-shadow: rgb(0, 0, 0) 0px 3px 10px;
    padding-bottom: 3rem;
    border-bottom: 2px solid #ffffff ;
    margin-bottom: 5rem;
}
.staff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #493a3a;
    border-radius: .3rem;
}
.col{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 10rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .8rem;
    background-color: #221f1d;
    border-radius: 1rem;
    box-shadow: rgb(192, 164, 142) 0px 0px 12px;
}
#one{
    width: 40%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#two, #three, #four, #five{
    width: 40%;
    height: 100%; 
    display: block;
    padding-bottom: rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-bottom: 8rem;
}
.ceo-img{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; 

}
.Ceo p{
    text-align: center;
    margin-top: .5rem;
}
.Ceo a{
    text-align: center;
    margin-top: .5rem;
    text-decoration: underline;
    color: #997c74;
}
.employee-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}
.Employee{
    text-align: center;
}
.Employee p{
    text-align: center;
    margin-top: -.1rem;
}
.Employee a{
    text-align: center;
    margin-top: -.1rem;
    text-decoration: underline;
    color: #997c74;
}
a:hover{
    color: #ff7700;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #2D2424;
    border-radius: .3rem;
}
#contact-form{
    border: solid 6px #9b9b9b81;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:#493a3a;
    border-radius: 1rem;
}
#contact-form input, textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    background-color: #414141;
    border:  3px solid #b8b8b8;
    border-radius: .3rem;
}
#contact-form input:hover, textarea:hover{
    background-color: #5a5a5a;
}

.Send-btn{
    padding: 1rem;
    background-color: #5a5a5a;
    border-radius: .3rem;
    font-size: 1.2rem;
    text-shadow: none;
    cursor: pointer;
}
.Send-btn:hover{
    background-color: #414141;
}
/* ------------------------------------------------ */
/* About us page */
#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #5c3d2e00;
    border: solid 4px #9b9b9b81;
    border-radius: 1rem;
}
.about-us-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #807e7d57;
    border-radius: .3rem;

}


/* -------------------------------------- */
/* Responsive Design */
@media (max-width:1440px){
    .Ramen-Shop-Text{
        font-size: 3rem;
    }
    .ramen-shop-img{
        height: 30rem;
    }
    .menu-item img{
        height: 300px;
    }
    .menu-item{
        width: 40%;
    }
    .opening-hours-card{
        font-size: 1.5rem;
    }
    .staff{
        width: 100%;
    }
    .col{
        width: 100%;
    }
    #one{
        width: 100%;
        height: 200px;
    }
    .ceo-img{
        width: 100%;
        height: 200px;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100px;
    }
    .social-icons{
        font-size: 1rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    .contact-us{
        font-size: 1rem;
    }
    form{
        font-size: 1rem;
    }
    input, textarea{
        font-size: 1rem;
    }
    .social-icons{
        font-size: 2rem;
    }
    #one{
        height: 50%;
        width: 50%;
    }
    #two, #three, #four, #five{
        width: 50%;
        height: 50%;
    }
    .ceo-img{
        width: 100%;
        height: 100%;
    }
    .employee-img{
        width: 100%;
        height: 100%;
    }
    textarea{
        height: 100px;
        width: 100%;
    }
    #contact-form{
        border: solid 6px #9b9b9b81;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color:#493a3a;
    }
}
@media (max-width:1024px){
    .Ramen-Shop-Text{
        font-size: 2rem;
    }
    .ramen-shop-img{
        height: 20rem;
    }
    .menu-item img{
        height: 200px;
    }
    .menu-item{
        width: 40%;
    }
    .opening-hours-card{
        font-size: 1rem;
    }
    .staff{
        width: 100%;
    }
    .col{
        width: 100%;
    }
    #one{
        width: 100%;
        height: 200px;
    }
    .ceo-img{
        width: 100%;
        height: 200px;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100px;
    }
    .social-icons{
        font-size: 1rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    .contact-us{
        font-size: 1rem;
    }
    form{
        font-size: 1rem;
    }
    input, textarea{
        font-size: 1rem;
    }
    .social-icons{
        font-size: 2rem;
    }
    #one{
        height: 100%;
        width: 100%;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100%;
    }
    .ceo-img{
        width: 100%;
        height: 100%;
    }
    .employee-img{
        width: 100%;
        height: 100%;
    }
    textarea{
        height: 100%;
        width: 95%;
    }
}
@media (max-width:768px){
    .Ramen-Shop-Text{
        font-size: 1.5rem;
    }
    .ramen-shop-img{
        height: 15rem;
    }
    .menu-item img{
        height: 200px;
    }
    .menu-item{
        width: 40%;
    }
    .menu-item p{
        font-size: .8rem;
    }
    .opening-hours-card{
        font-size: 1rem;
    }
    .staff{
        width: 100%;
    }
    .col{
        width: 100%;
    }
    #one{
        width: 100%;
        height: 200px;
    }
    .ceo-img{
        width: 100%;
        height: 200px;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100px;
    }
    .social-icons{
        font-size: 1rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    .contact-us{
        font-size: 1rem;
    }
    form{
        font-size: 1rem;
    }
    input, textarea{
        font-size: 1rem;
    }
    .social-icons{
        font-size: 2rem;
    }
    #one{
        height: 100%;
        width: 100%;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100%;
    }
    .ceo-img{
        width: 100%;
        height: 100%;
    }
    .employee-img{
        width: 100%;
        height: 100%;
    }
    textarea{
        height: 100px;
        width: 90%;
    }
}
@media (max-width:588px){
    nav i{
        left: 2rem;
        top: 1.1rem;
        font-size: 2rem;
    
    }
}
@media (max-width:470px){
    nav i{
        font-size: 2rem;
        left: 1rem;
        top:1.1rem;
    
    }
}
@media (max-width:425px){
    nav li{
        font-size: 1.2rem;
        margin-left: 4rem;
    }
    nav i{
        left: 1.5rem;
        top: 2rem;
        font-size: 3rem;
    }
    .Ramen-Shop-Text{
        font-size: 1rem;
    }
    .heading-about{
        font-size: 1.2rem;
    }
    .paragraph-about{
        font-size: .8rem;
    }
    .menu-item{
        width: 100%;
    }
    .social-icons{
        font-size: 2rem;
    }
    #one{
        height: 100%;
        width: 100%;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100%;
    }
    .ceo-img{
        width: 100%;
        height: 100%;
    }
    .employee-img{
        width: 100%;
        height: 100%;
    }
    #contact-form{
        width: 100%;
    }
    textarea{
        height: 100px;
        width: 90%;
    }
}
@media(max-width:383px){
    nav i{
        font-size: 2.5rem;
        left:2rem;
        top: 2rem;
    }
    nav li{
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}
@media(max-width:365px){
    nav i{
        font-size: 2.5rem;
        left:1rem;
        top: 2rem;
    }
    nav li{
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}
@media(max-width:300px){
    nav i{
        font-size: 2rem;
        left:1rem;
        top: 3.4rem;
    }
    nav li{
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}