@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+3:wght@300;700&display=swap');
body {
    background-color:#2D2424;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
}
nav {
    position: relative;
    background-color: #5C3D2E;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
nav i{
    position: absolute;
    top: .7rem;
    left: 5rem;
    font-size: 3rem;
    color: #ff7700af;
    background-color: #5C3D2E;
    cursor: pointer;
}
nav i:hover{
    color: #ff7700;
    transform: scale(1.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 1rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff7700;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}
main {
    padding: 1rem;
}
#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #5C3D2E;
    border-radius: .3rem;
}

.Ramen-Shop {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.heading-about{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0px 3px 10px;
    padding-bottom: 3rem;
    border-bottom: 2px solid #ffffff ;
}
.Ramen-Shop-Text{
    position: absolute;
    object-fit: cover;
    top:40%;
    font-size: 3rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    background:#ff7700af;
    box-shadow: rgb(247, 247, 247) 0px 0px 60px;
    padding:1rem 2rem;
    text-align: center;
    width: 100%;
    
}
.ramen-shop-img{
    width: 100%;
    height: 600px; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* This will prevent distortion */
}
h2 {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
#menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 4rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    background-color: #6B240C;
    border-radius: 1rem;
    box-shadow: rgb(192, 164, 142) 0px 0px 12px;
}
.menu-item p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    border-radius: 1rem;
}
.menu-item img{
    width: 100%;
    height: 300px; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* This will prevent distortion */
}
#order-btn{
    padding: 1rem;
    background-color: #2D2424;
    border-radius: .3rem;
    font-size: 1.2rem;
    text-shadow: none;
    cursor: pointer;
}
#order-btn:hover{
    background-color: #1d1613;
}
.opening-hours-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #947865;
    border-radius: .3rem;
    font-size: 1.2rem;
    text-shadow: none;
}
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #818181;
    gap: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}
.footer-text{
    text-align: center;
    text-shadow: none;
}
.social-icons {
    display: flex;
    flex-direction: row; /* Add this line */
    list-style-type: none;
    gap: 1rem;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: center;
}
.social-media li {
    display: inline-block;
    margin-right: 1rem;
}
.staff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #5C3D2E;
    border-radius: .3rem;
}
.col{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 4rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    background-color: #6B240C;
    border-radius: 1rem;
    box-shadow: rgb(192, 164, 142) 0px 0px 12px;
}
#one{
    width: 30%;
    height: 600px; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.ceo-img{
    width: 100%;
    height: 100%; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* This will prevent distortion */

}
.employee-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}
#two, #three, #four, #five{
    width: 20%;
    height: 15rem; /* Adjust this value as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* This will prevent distortion */
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #2D2424;
    border-radius: .3rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #ff7700;
}
input, textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    background-color: #414141;
    border:  3px solid #b8b8b8;
    border-radius: .3rem;
}
input:hover, textarea:hover{
    background-color: #5a5a5a;
}
.contact-us{
    text-align: center;
    font-size: 1.3rem;
    text-shadow: rgb(0, 0, 0) 0px 3px 10px;
    padding-bottom: 3rem;
    border-bottom: 2px solid #ffffff ;
    margin-bottom: 5rem;
}
.Send-btn{
    padding: 1rem;
    background-color: #5a5a5a;
    border-radius: .3rem;
    font-size: 1.2rem;
    text-shadow: none;
    cursor: pointer;
}
.Send-btn:hover{
    background-color: #414141;
}

@media (max-width:1024px){
    .Ramen-Shop-Text{
        font-size: 2rem;
    }
    .ramen-shop-img{
        height: 400px;
    }
    .menu-item img{
        height: 200px;
    }
    .menu-item{
        width: 40%;
    }
    .opening-hours-card{
        font-size: 1rem;
    }
    .staff{
        width: 100%;
    }
    .col{
        width: 100%;
    }
    #one{
        width: 100%;
        height: 200px;
    }
    .ceo-img{
        width: 100%;
        height: 200px;
    }
    #two, #three, #four, #five{
        width: 100%;
        height: 100px;
    }
    .social-icons{
        font-size: 1rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    .contact-us{
        font-size: 1rem;
    }
    form{
        font-size: 1rem;
    }
    input, textarea{
        font-size: 1rem;
    }
}